<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="\assets\css\view-Alumnos.css">
        <title>Home</title>
    </head>
    <script src="\assets\js\cRegresiva.js"></script>
    <body>
        <div><img src="\assets\img\Seminario.png" alt="fondo" class="overlay"></div>
        <nav>
            <div class="Menu"><a href="view\pagesBeta\index-Alumnos.html"><img src="\assets\images\LOGO.png" alt=""></a></div>
            <div class="Menu">menu</div>
        </nav>
        <section>
            <main class="margen">
                <div class="box">
                    <div class="container">
                        <div class="tSeminario">SEMINARIO</div>
                        <div class="tSeminario2">de</div>
                    </div>
                    <div class="pEducativo">DERECHO</div>
                    <div><p class="tSeminario2">De la seguridad social, 
                        para el retiro y la educacion financiera</p></div>
                    <div><button class="btn-Registro">REGISTRO</button></div>
                </div>
                <div class="Marcador">
                    <div onLoad="mostrar_hora()">   
                        <div id="fecha">
                            <span id="hora"></span> horas, 
                            <span id="minuto"></span> minutos,
                            <span id="segundo"></span> segundos
                        </div>  
                    </div>
                </div>
            </main>
        </section>
    </body>
</html>