<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="\assets\css\view-Alumnos.css">
        <title>REGISTRO</title>
    </head>
    <body class="bg" background="\assets\images\Seminario.png">
        <nav>
            <div>logo</div>
            <div>menu</div>
        </nav>
        <section>
            <main>
                <div class="boxRegistro">
                    <p>Los campos obligatorios se marcan con un <abbr title="required">*</abbr>.</p>
                    <!-- Pero probablemente lo mejor es esto: -->
                    <div>
                    <label for="username">Nombre Completo: <abbr title="required" aria-label="required">*</abbr></label>
                        <input id="username" type="text" name="username"/>
                    </div>
                    <div>
                        <label for="username">Matricula: <abbr title="required" aria-label="required">*</abbr></label>
                        <input id="username" type="text" name="username"/>
                        </div>
                    <div>
                            <label for="username">Email: <abbr title="required" aria-label="required">*</abbr></label>
                            <input id="username" type="text" name="username"/>
                        </div>
                        <div>
                            <label for="username">Grupo: <abbr title="required" aria-label="required">*</abbr></label>
                            <input id="username" type="text" name="username"/>
                        </div>
                        <div>
                            <label for="username">Plantel: <abbr title="required" aria-label="required">*</abbr></label>
                            <input id="username" type="text" name="username"/>
                        </div>
                    <div><button class="btn-Registro">REGISTRO</button></div>
                </div>
            </main>
        </section>
    </body>
</html>